---
import Card from '../components/Card.astro';
import type Event from '../lib/events';
import fetchApi from '../lib/strapi';

const events = await fetchApi<Event[]>({
    endpoint: 'events?populate=coverImage',
    wrappedByKey: 'data',
})

---

<main>
    <h1 class="title text-center text-4xl pt-6">Arrangementer</h1>
    <p class="description text-center">to be continued</p>
    <img src="https://cdn11.bigcommerce.com/s-t04x4i8lh4/images/stencil/original/uploaded_images/puppies-birthday-party.jpg?t=1667061381" alt="h">
    <!-- <ul>
      {
        events.map((event: Event) => (
          <li>
            <Card
              title={event.title}
              body={event.description}
              href={`/events/${event.id}`}
            />
            <img src={`${import.meta.env.STRAPI_URL}${event.coverImage.url}`} alt="Event cover" />
          </li>
        ))
      }
    </ul> -->
  </main>
  