---
import Layout from '../layouts/Layout.astro';
import type Title from '../interfaces/title';
import type Description from '../interfaces/description';
import fetchApi from '../lib/strapi';

const aboutUsData = await fetchApi({
    endpoint: 'about-us', // Endre dette til riktig endpoint for informasjon om dere
    wrappedByKey: 'data',
});

const om_oss_descriptions = await fetchApi<Description[]>({
    endpoint: 'descriptions?filters[slug][$in][0]=description&filters[slug][$in][1]=description-1&filters[slug][$in][2]=description-2&filters[slug][$in][3]=description-3&filters[slug][$in][4]=description-4',
    wrappedByKey: 'data',
})

const om_oss_titles = await fetchApi<Title[]>({
    endpoint: 'titles?filters[slug][$in][0]=bar&filters[slug][$in][1]=historie',
    wrappedByKey: 'data',
})
---

<Layout title="Om Oss" navbarTextColor="#FF5733">
  <img src="public/flekk_omossOV.svg" alt="flekk" class="float-left">
  <img src="public/flekk_omossOH.svg" alt="flekk" class="float-right">
  <main class="px-7">
    <div class="starter-page ps-[600px]">
      <h1 class="title pt-44 text-6xl leading-8">
        <span class="block  text-orange-500 text-6xl font-bold w-72">{}</span>
      </h1>
      
      <h2 class="instructions pt-5 text-4xl font-bold  w-96">{om_oss_titles[0].Title}</h2>
      <p class="instructions">{om_oss_descriptions[0].Description}</p>
    </div>

    <div class="about">
      <h1 class="title pt-52 text-6xl leading-8 text-orange-500 font-bold">{om_oss_titles[1].Title}</h1>
      <p class="pt-10">
        {om_oss_descriptions[1].Description} <br><br>
        {om_oss_descriptions[2].Description} <br> <br>
        {om_oss_descriptions[3].Description}<br><br>
        {om_oss_descriptions[4].Description}
      </p>
    </div>
  </main>
  <img src="public/bar_bilde.png" alt="bilde av baren" class="absolute top-[10vw] left-[5vw] ">
  <img src="public/flekk_omossMV.svg" alt="flekk" class="absolute top-[45vw] left-0">
  <img src="public/flekk_omossNH.svg" alt="flekk" class="absolute top-[85vw] right-0">
  
</Layout>

<style>
  main {
		background-color: rgb(255, 255, 255);
		width: 100%;
		color: black;
		font-size: 20px;
		line-height: 1.6;
		min-height: 300vh; /* Sjekk om dette hjelper */
  }

  .title{
    margin-right: 200px;
    line-height: 60px;
    /* padding-left: 700px; */
  }
  .instructions {
    margin-bottom: 2rem;
		max-width: 620px;
    }
  
  .starter-page {
    margin-left: auto;
    margin-right: auto;
  }

  .about {
    font-family: 'Gantari', sans-serif;
    margin-top: 8rem;
    line-height: 2rem;
    margin-left: 10rem;
    max-width: 800px; /* juster etter smak */
    padding: 0 1rem;  /* litt luft på små skjermer */
    margin-bottom: 10rem;
  }

</style>
